@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Shared styles */

.text-primary{
    color: #FD6E0A;
}

.dark-1{
    color: #181818;
}

.dark-2{
    color: #474747;
    font-size: 20px;
    font-weight: 400;
}

.dark-3{
    color: #757575;
}

.btn-primary{
    color: white;
    font-size: 20px;
    font-weight: 700;
    background-color: #FD6E0A;
    border-radius: 5px;
    padding: 18px 35px;
    border: none;

}

.btn-secondary{
    border-radius: 5px;
    border: 1px solid #FD6E0A;
    padding: 18px 35px;
    font-size: 20px;
    font-weight: 700;
    margin-left: 30px;
}

.section-title{
    color: #181818;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}

.section-desc{
    color: #757575;
    font-size: 16px;
    font-weight: 400;
}

.text-center{
    text-align: center;
}

/* header styles */

.header{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, right bottom;
    height: 820px;
    background-color: #FFF8F3;
    
}

/* Nav Styles */

nav{
    display: flex;
    justify-content: space-between;
    margin-left: 230px;
    margin-right: 230px;
}

nav ul {
    display: flex;
    align-items: center;
   
}

nav ul li{
    list-style: none;
    margin-right: 50px;
    
}

nav li a{
    text-decoration: none;
}

.nav-title{
    font-size: 45px;
    font-weight:800 ;
}

/* banner styles */

.banner{
    display: flex;
    margin-left: 230px;
    margin-right: 39px;
   
}

.banner-content{
    max-width: 585px;
}

.banner-greetings{
    font-size: 45px;
    font-weight: 600;

}

.banner-title{
    font-size: 85px;
    font-weight: 700;
}

.banner-description{
    font-size: 18px;
    font-weight: 400;
}

/* main styles */

main{
    max-width: 1540px;
   
    
}

main section{
    margin: 130px 230px;
    
}

/* About styles */
.about{
    text-align: center;

    background-color: #FFF8F3;
    padding: 110px 150px;
    border-radius: 5px;
    
}

.about-content{
    border: 1px solid #000;
    background-color: #fff;
    border-radius: 5px;
}

.item-title{
    color: #757575;
    font-size: 20px;
    font-weight: 400;
}

.item-desc{
    color: #474747;
    font-size: 20px;
    font-weight: 600;
}

.about-items{
    display: flex;
    justify-content: space-around;
}

/* Skill styles*/


.skill-info{
    text-align: center;
    margin-bottom: 50px;
}

.skill-container{
    display: flex;
    gap: 24px;
}
.skill{
    padding: 30px;
    border: 5px;
    box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.06);
    background: #FFF;
}

/* resume styles */

.resume-column-container{
    display: flex;
    gap: 70px;
    margin-bottom: 50px;
}

.resume-column-title{
    color: #474747;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
}

.resume-title{
    color: #474747;
    font-size: 25px;
    font-weight: 700;

}

.resume-subtitle{
    color: #757575;
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 20px;
}

.resume-desc{
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    margin-right: 47px;
}

.resume hr{
    margin-top: 30px 5px;
}

/* footer styles */
footer{
    display: flex;
    gap: 116px;
    background-color: #FFF8F3;
    padding: 130px 230px;
    
}

.footer-column{
    width: 50%;
    
}

.footer-column input[type="text"], input[type="email"], textarea{
    display: block;
    padding: 18px 30px;
    background-color: white;
    border: none;
    margin-bottom: 24px;
    width: 100%;
    border-radius: 5px;
}